@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&family=Raleway:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
   background-image: url("./Signin/Images/signinBanner.png");
   background-repeat: no-repeat;
   background-position: center;
   object-fit:contain;
   background-position: center;
   background-size: cover;
   filter: brightness(40%);
 
}
.bg2 {
   background-image: url("./Signup/images/signupbanner.png");
   background-repeat: no-repeat;
   background-position: center;
   object-fit:contain;
   background-position: center;
   background-size: cover;
   filter: brightness(40%);
 
}

.montserrat {
   font-family: "Montserrat", sans-serif;
}
.sora {
   font-family: "sora", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 43 31 31;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --foundation-blue-darker: #ffffff;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color: rgb(var(--foreground-rgb));
  background: var(--foundation-blue-darker, #ffffff);
  overflow-x: hidden;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(10);
  }
  100% {
    transform: rotate(-360deg) scale(10);
  }
}
.custom-scrollbar {
  overflow-x: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #f5cb1a;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #e5bb0a;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Width of the vertical scrollbar */
  height: 5px; /* Height of the horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: yellow; /* Color of the scrolling thumb */
  border-radius: 10px; /* Roundness of the scrolling thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
  border-radius: 10px; /* Roundness of the scrollbar track */
}

.animate-rotate {
  animation: rotate 10s linear infinite;
}
