@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 43 31 31;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --foundation-blue-darker: #ffffff;
  }
}

body {
  font-family: "Monserrat", sans-serif;

  color: rgb(var(--foreground-rgb));
  background: var(--foundation-blue-darker, #ffffff);
  overflow-x: hidden;
}
/* your CSS file (e.g., globals.css) */

/* generate parallax  */
